server {
  listen 8080;
  server_name localhost api.*/automate;
  location /api/ {
    proxy_pass http://${AUTO_MATE_URL}/;
  }
  server_name localhost ai.*;
  location / {
    proxy_pass http://${AI_URL}/;
  }
}